.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

body {
  font-family: "Oswald", "Tahoma", sans-serif;
  color: #000000;
  margin: 0;
}

.button {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  background: #68b738;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
}

.description {
  font-family: @font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
  margin: 0;
}

