.page {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.page-body {
  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      height: 696px;
      background-image: url("../img/background-desktop-cat.jpg");
      background-repeat: no-repeat;
      background-position: 50vw;
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../img/background-desktop-cat@2x.jpg");
        background-size: 1044px auto;
      }
    }
  }
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Oswald", "Tahoma", sans-serif;
  color: #000000;
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1920px;
}

.button {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  transition: 0.3s;
  background: linear-gradient(to left, #68b738 50%, #5eaa2f 50%) right;
  background-size: 200%;

  &:hover {
    background-position: left;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.description {
  font-family: @font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
  margin: 0;
}

.title-bold {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.inner-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
