.advantages {
  padding: 20px;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding: 45px 30px 6px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    border-bottom: none;
    margin-bottom: 28px;
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    gap: 37px 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 37px 80px;
  }
}

.advantages__item {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: normal;
    gap: 31px;
    min-height: 280px;
  }
}

.advantages__item:first-child {
  @media (min-width: @tablet-width) {
    .number-background("1", 100px);
  }

  @media (min-width: @desktop-width) {
    .number-background("1", 20px);
  }
}

.advantages__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    .number-background("2", 80px);
  }

  @media (min-width: @desktop-width) {
    .number-background("2", 0);
  }
}

.advantages__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    .number-background("3", 77px);
  }

  @media (min-width: @desktop-width) {
    .number-background("3", -2px);
  }
}

.advantages__item:last-child {
  @media (min-width: @tablet-width) {
    .number-background("4", 75px);
  }

  @media (min-width: @desktop-width) {
    .number-background("4", -4px);
  }
}

.advantages__item-description {
  font-size: 14px;
  line-height: 18px;
  max-width: 200px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    max-width: 100%;

    br {
      display: block;
    }
  }
}

.advantages__item--leaf-image {
  .svg-paddings(16px, 17px, 16px, 18px);

  @media (min-width: @tablet-width) {
    .svg-paddings(27px, 28.2px, 25px, 27px);
  }
}

.advantages__item--powder-image {
  .svg-paddings(16px, 16.5px, 15.5px, 17.5px);

  @media (min-width: @tablet-width) {
    .svg-paddings(25px, 27px, 25.5px, 27px);
  }
}

.advantages__item--eat-image {
  .svg-paddings(15px, 17.5px, 15px, 17.5px);

  @media (min-width: @tablet-width) {
    .svg-paddings(25px, 27px, 25px, 28px);
  }
}

.advantages__item--clock-image {
  .svg-paddings(15px, 16.5px, 14px, 17.5px);

  @media (min-width: @tablet-width) {
    .svg-paddings(25px, 27px, 24px, 27px);
  }
}
