.advantages {
  padding: 20px;
  padding-bottom: 50px;
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 230px 230px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.advantages__item {
  padding: 3px 0;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.advantages__item-description {
  font-size: 14px;
  line-height: 18px;
  margin-left: 80px;

  br {
    display: none;
  }
}

.back-image(@image) {
  background-image: @image;
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.advantages__item:first-child {
  .back-image(url("/img/adv-leaf.jpg"));
}

.advantages__item:nth-child(2) {
  .back-image(url("/img/adv-powder.jpg"));
}

.advantages__item:nth-child(3) {
  .back-image(url("/img/adv-eat.jpg"));
}

.advantages__item:last-child {
  .back-image(url("/img/adv-clock.jpg"));
}
