.example {
  background-color: #eaeaea;
  padding: 25px 19px 40px 20px;
}

.example__stats {
  display: grid;
  grid-template-columns: 124px 124px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 124px 124px;
    align-items: center;
    justify-items: center;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.example__stats-item {
  text-align: center;

  &:last-child {
    grid-column: -1 / 1;
    display: flex;
    justify-content: center;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  br {
    display: none;
  }
}

.example__stats-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.example__stats-text {
  font-family: @font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: @dark-grey;
  margin: 0;
}

.example__stats-expenses {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.slider-container {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 256px;
  box-sizing: border-box;
}

.example__picture-item {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.view-after {
  width: min(32vh, 45vw);
  z-index: 200;


  &::before {
    content: "";
    position: absolute;
    background-color: #eaeaea;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.toggle-drag {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: min(32vh, 45vw);
  background: #666666;
  border-radius: 2px;
  cursor: pointer;
  z-index: 300;
}

.drag-circle {
  position: absolute;
  top: calc(50% - 20px);
  left: -20px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #666666;
  cursor: pointer;
  z-index: 300;
  background-image: url("/img/arrows-left-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}
