.cooperation__content-index {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 17px;
  background-color: #ffffff;
}

.cooperation__content {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 17px;
  background-color: #f2f2f2;
}

.cooperation__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.cooperation__address {
  font-family: @font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
}

.main-footer__map {
  width: 100%;
}
