.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 132px;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin-left: 155px;
    margin-right: 128px;
  }
}

.social__item {
  display: flex;
  align-items: center;

  path {
    transition: 0.2s;
  }

  &:hover path {
    fill: #68b738;
  }

  &:active path {
    fill: rgba(105, 183, 56, 0.5);
  }
}

.social__link {
  display: flex;
}
