.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 132px;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin-left: 155px;
    margin-right: 128px;
  }
}

.social-item {
  display: flex;
  align-items: center;
}

.social-link {
  display: flex;
}

.copyright-text {
  font-family: @font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: @dark-grey;
}

.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: auto;
    gap: 24px;
  }
}

.copyright-link {
  display: flex;
}
