.logo__picture {
  text-decoration: none;
}

.logo__text {
  text-decoration: none;

  picture {
    display: flex;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 55px;
  transition: 0.2s;

  @media (min-width: @tablet-width) {
    gap: 11px;
  }

  @media (min-width: @desktop-width) {
    gap: 13px;
  }
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}
