.nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  left: 0;
  top: 66px;
  z-index: 2;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 440px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
    width: 480px;
  }
}

.main-nav--opened .nav-list {
  display: block;
}

.main-nav--nojs .nav-list {
  position: fixed;

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.main-nav--closed .nav-list {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.nav-link {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  overflow-wrap: anywhere;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    overflow-wrap: normal;
    padding: 10px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 7px 0;
  }
}

.main-nav-index .nav-link {
  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.main-nav-index .nav-item {
  position: relative;

  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      width: 100%;
      scale: 0;
      position: absolute;
      height: 2px;
      bottom: 0;
      background-color: #ffffff;
      transition: 0.3s;
    }

    &:hover {
      &::after {
        scale: 1;
      }
    }

    &-current {
      &::after {
        content: "";
        width: 100%;
        scale: 1;
        position: absolute;
        height: 2px;
        bottom: 0;
        background-color: #ffffff;
      }
    }
  }
}

.nav-item {
  cursor: pointer;
  padding: 21px 10px 24px;
  position: relative;
  transform-origin: right;

  &:not(:first-child) {
    border-top: 1px solid #cdcdcd;

    @media (min-width: @tablet-width) {
      border-top: none;
    }
  }

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;

    &::after {
      content: "";
      width: 100%;
      scale: 0;
      position: absolute;
      height: 2px;
      bottom: 0;
      background-color: #68b738;
      transition: 0.3s;
    }

    &:hover:not(.nav-item-current) {
      &::after {
        scale: 1;
      }
    }

    &-current {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        scale: 1;
        position: absolute;
        height: 2px;
        bottom: 0;
        background-color: #68b738;
      }
    }

    &:not(:last-child) {
      @media (min-width: @desktop-width) {
        margin-right: 34px;
      }
    }

    &:first-child {
      @media (min-width: @desktop-width) {
        margin-right: 36px;
      }
    }
  }
}

.main-header__toggle {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__bar {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
  left: 0;

  &:first-child {
    top: 0;
  }

  &:nth-child(2) {
    top: 8px;
  }

  &:nth-child(3) {
    top: 16px;
  }
}

@keyframes burger-bar1 {
  50% {
    top: 8px;
    transform: rotate(0);
  }


  100% {
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes burger-bar2 {
  100% {
    opacity: 0;
  }
}

@keyframes burger-bar3 {
  50% {
    top: 8px;
    transform: rotate(0);
  }


  100% {
    top: 8px;
    transform: rotate(-45deg);
  }
}

.main-header__toggle-anim-in .main-header__bar {
  &:first-child {
    animation: burger-bar1 200ms ease-in-out forwards;
  }

  &:nth-child(2) {
    animation: burger-bar2 200ms ease-in-out forwards;
  }

  &:nth-child(3) {
    animation: burger-bar3 200ms ease-in-out forwards;
  }
}

@keyframes burger-bar1-out {
  50% {
    top: 8px;
    transform: rotate(0);
  }


  100% {
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes burger-bar2-out {
  100% {
    opacity: 0;
  }
}

@keyframes burger-bar3-out {
  50% {
    top: 8px;
    transform: rotate(0);
  }


  100% {
    top: 8px;
    transform: rotate(-45deg);
  }
}

.main-header__toggle-anim-out .main-header__bar {
  &:first-child {
    animation: burger-bar1-out 200ms ease-in-out forwards;
    animation-direction: reverse;
  }

  &:nth-child(2) {
    animation: burger-bar2-out 200ms ease-in-out forwards;
    animation-direction: reverse;
  }

  &:nth-child(3) {
    animation: burger-bar3-out 200ms ease-in-out forwards;
    animation-direction: reverse;
  }
}
